//
// VARIABLES
//

// Primary colours

$blue:#142e4c;
$lightblue:#596782;
$green:#BCD35B;
$turquoise:#54BAA1;
$yellow:#FBCA1D;
$lightyellow:#FFE910;    
$pink:#f5357f;
$white:#fff;


// Fonts
$font-serif: 'Roboto Slab', serif;
$font-sans-serif: 'Roboto', sans-serif;  


// Transitions