/****** eForm Styling ******/

.ui-datepicker-header {
	
	border: 1px solid #1e3378;
	color: #1e3378;
	padding: 5px;
}

.ui-datepicker-prev {
	cursor: pointer;
	position: absolute;
	left: 8px;
}

.ui-datepicker-next {
	cursor: pointer;
	position: absolute;
	right: 8px;
}

.ui-datepicker-title {
	text-align: center;
}

/****** eForm Styling ******/